{% extends 'base.html' %}
{% load static %}

{% block head %}
    Company Profile
{% endblock head %}

{% block Home %}
    active
{% endblock Home %}

{% block body %}
    <div class="container-fluid my-4 py-2" style=" ">
        <div class="container my-2 py-2 px-3"
             style=" border: #777777 1px solid; border-radius: 5px; box-shadow: 2px 3px #cccccc; background-color: #ffffff">
            <div class="d-flex">
                <img class="mx-4 my-3" src="{% static 'images/images.jpeg' %}" height="150px" width="150px"
                     style="border-radius: 50%">
                <div class="mx-2 px-2">
                    <h2 class="mt-3 mx-2 px-2">Cuda Bass</h2>
                    <h4 class="mt-1 mx-2 px-2" style="color: #444444">Private Ltd</h4>
                    <h5 class="mt-1 mx-2 px-2" style="color: #666666">30-01-1971</h5>
                    <h6 class="mt-1 mx-2 px-2" style="color: #666666">
                        <a href="https://github.com/BoyWhoLived12" style="color:#666666; text-decoration: underline;">
                            Visit our Website
                        </a>
                    </h6>

                </div>
            </div>
            <hr width="80%" align="center"/>
            <div class="container mx-4 my-4" style="color: #666666">
                <h2 class="mb-2" style="color:#444444">About</h2>
                <p>
                    Hello peeps, we are Cuda Bass. We are one of the major speakers producer across the globe. We
                    provide a good quality speakers which are AI oriented and have better clarity than the other
                    products in the market. We have been creating speakers since 1971. Recently we have stated to
                    produce smart speakers/assistant which have given us a real big edge over most of the other
                    companies. We have 3 research centers spread in 3 different continents (North America, Asia, Europe)
                    along with world wide production. Along with wide range of product we have wide range of employment
                    opportunity. We regularly need Computer, Electronic, Mechanical engineers, along with management
                    staff and support staff like content creators.
                </p>
            </div>
            <div class="container mx-4 my-4" style="color: #666666">
                <h2 class="mb-2" style="color:#444444">Interests</h2>
                <p>
                    Being in this industry for 50 years have made us fall in love with the sounds, and also make us
                    realize the difference between the sound and noise. Hence the audio quality of our product is our
                    top priority. We Keep on creating new generation of speakers time to time In order to enhance the
                    audio quality of the speakers. We even have a vision of taking the smart speakers/assistant. We
                    believe in the world of big billion data we need just a proper network to create a machine which is
                    as good as human.
                </p>
            </div>
        </div>
        <div class=" container d-flex mt-4">
            <div class="px-4"
                 style="width:70%; border: #777777 1px solid; border-radius: 5px; box-shadow: 2px 3px #cccccc; background-color: #ffffff; margin-right: 10px">
                <h3>
                    Available Jobs:
                </h3>
                <p>To be implemented soon</p>
            </div>
            <div style="width:30%">
                <div class="px-3 "
                     style="border: #777777 1px solid; border-radius: 5px; box-shadow: 2px 3px #cccccc; background-color: #ffffff; margin-left:10px; margin-bottom: 10px">
                    <h3>Contact Information: </h3>
                    <p>
                        <b>Email:</b> abc@gmail.com<br/>
                        <b>Phone No:</b> 9999999999<br/>
                        <b>Website:</b> <a href="#!" style="color:#000; text-decoration: underline">www.google.com</a><br/>
                        <b>Address:</b> A/xx abc, def India<br/>
                    </p>
                </div>
                <div class="px-4"
                     style="border: #777777 1px solid; border-radius: 5px; box-shadow: 2px 3px #cccccc; background-color: #ffffff; margin-left: 10px">
                    <H4>
                        Reach
                    </H4>
                    <p>We have Ties with Other MNCs like Google, Sony. In numerous occasion we have worked together to produce better result. </p>
                </div>
            </div>


        </div>

    </div>
{% endblock body %}