{% extends 'base.html' %}
{% load static %}
{% block head %}
    Companies
{% endblock head %}

{% block Companies %}
    active
{% endblock Companies %}


{% block body %}
    <div class="container">
        <div class="container-fluid my-4 py-2" style=" ">
            {% for company in companies %}

            <div class="container my-4 px-3"
                 style=" border: #777777 1px solid; border-radius: 5px; box-shadow: 2px 3px #cccccc; background-color: #ffffff">
                <div class="d-flex">
                    <img class="mx-4 my-2" src="{{ company.logo }}" height="120px" width="120px"
                         style="border-radius: 50%">
                    <div class="mx-2 px-2">
                        <h3 class="mt-1 mx-2 px-2">{{ company.comp_name }}</h3>
                        <h6 class="mx-2 px-2" style="color: #444444">{{ company.about }}</h6>
                        <a class="mx-2 px-2" href="/company_detail/{{ company.company_id }}" style="color: #666666; text-decoration: underline">View More</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}