{% extends 'base_profile.html' %}
{% load static %}

{% block head %}
    Create Account
{% endblock head %}

{% block body %}
    <div class="container" style="margin-top: 50px">
        <div class="container my-4 bg-form py-3" style="margin-top: 110px;">
            <div class="text-center">
                <img src="{% static 'images/logosecure.png' %}" alt="Logo" height="120px">
                <img src="{% static 'images/' %}" alt="">
            </div>
            <h1 class="my-3 ansi-underline" style="text-decoration: underline #444444">Job Opportunity: </h1>
            <div class="profile-form">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="input-profile" style="font-size: 25px; font-weight:600">
                        <label name="title" id="title">Job Title</label><br/>
                        <input type="text" id='title' name="title" required>
                    </div>
                    <div class="input-profile" style="font-size: 25px; font-weight:600">
                        <label name="desc" id="desc">Job Description</label><br/>
                        <input type="text" id='desc' name="desc" required>
                    </div>
                    <div class="input-profile" style="font-size: 25px; font-weight:600">
                        <label name="type" id="type">Job Type</label><br/>
                        <input type="text" id="type" name="type" style="font-size: 18px; width: 90% "
                               placeholder="Intern/Full-time/Part-time">
                    </div>

                    <div class="input-profile" style="font-size: 25px; font-weight:600">
                        <label name="location" id="location">Job Location </label><br/>
                        <input type="text" id="location" name="location" style="font-size: 18px; width: 90% ">
                    </div>

                    <div class="input-profile" style="font-size: 25px; font-weight:600">
                        <label name="link" id="link">Link for applying: </label><br/>
                        <input type="text" id="link" name="link" style="font-size: 18px; width: 90% "
                               placeholder="Form link">
                    </div>

                    <div style="font-size: 25px; font-weight:600">
                        <label name="desc_pdf" id="desc_pdf">Detailed Job Description </label><br>
                        <input type="file" name="desc_pdf"  id="desc_pdf" >
                    </div>
                    <div class="mb-3 mt-3 text-center">
                        <button type="submit" class=" btn1">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock body %}