{% extends 'base.html' %}
{% load static %}
{% block head %}
    Jobs
{% endblock head %}

{% block Jobs %}
    active
{% endblock Jobs %}

{% block body %}


    <div class="container-fluid my-4 py-2" style=" ">
    {% for job in jobs %}
        <div class="container my-4 px-3"
             style=" border: #777777 1px solid; border-radius: 5px; box-shadow: 2px 3px #cccccc; background-color: #ffffff">
            <div class="d-flex">
                <img class="mx-4 my-2" src="{{ job.company.logo }}" height="120px" width="120px"
                     style="border-radius: 50%">
                <div class="mx-2 px-2">
                    <h3 class="mt-1 mx-2 px-2">{{ job.job_title }}</h3>
                    <h6 class="mx-2 px-2" style="color: #444444">{{ job.company.comp_name }}</h6>
                    <p class="mx-2 px-2" style="color: #222222">{{ job.job_desc}}<br/>
                    <a href="/job_detail/{{ job.job_id }}" style="color: #666666; text-decoration: underline">View More</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
