{% extends 'auth_base.html' %}
{% load static %}
{% block head %}
    Login
{% endblock head %}

{% block body %}
    <div class="col-lg-6 col-md-6 infinity-form-container">
        <div class="col-lg-9 col-md-12 col-sm-8 col-xs-12 infinity-form">
            <!-- Company Logo -->
            <div class="text-center mb-3 mt-5">
                <img src="{% static 'images/logosecure.png' %}" width="300px">
            </div>
            <div class="text-center mb-4">
                <h1>Login into account</h1>
            </div>
            <!-- Form -->
            <form class="px-3" action="#" method="post">
                {% csrf_token %}
                <!-- Input Box -->
                <div class="form-input">
                    <span><i class="fa fa-envelope mt-1" style="font-size: 25px;"></i></span>
                    <input type="text" name="username" placeholder="username" tabindex="10" required>
                </div>
                <div class="form-input">
                    <span><i class="fa fa-lock mt-1" style="font-size: 25px;"></i></span>
                    <input type="password" name="password" placeholder="Password" required>
                </div>
{#                <div class="row mb-3">#}
{#                    <!--Remember Checkbox -->#}
{#                    <div class="col-auto d-flex align-items-center">#}
{#                        <div class="custom-control custom-checkbox">#}
{#                            <input type="checkbox" class="custom-control-input" name="cb1" id="cb1">#}
{#                            <label class="custom-control-label" for="cb1">Remember me</label>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <!-- Login Button -->
                <div class="mb-3">
                    <button type="submit" class=" btn1">Sign Up</button>
                </div>
                <!-- Forget Password -->
                <div class="text-right">
                    <a href="reset.html" class="forget-link">Forgot password?</a>
                </div>

                <div class="text-center mb-5 mt-3" style="color: #777;">Don't have an account?
                    <a class="register-link" href="{% url 'register' %}">Register here</a>
                </div>
            </form>
        </div>
        <!-- FORM END -->
    </div>
{% endblock body %}