{% extends 'base.html' %}
{% load static %}

{% block head %}
    Personal Profile
{% endblock head %}

{% block Home %}
    active
{% endblock Home %}
{% block body %}
    <div class="container-fluid my-4 py-2" style=" ">
        <div class="container my-2 py-2 px-3"
             style=" border: #777777 1px solid; border-radius: 5px; box-shadow: 2px 3px #cccccc; background-color: #ffffff">
            <div class="d-flex">
                {% if follower_prof.photo is not None %}
                    <img class="mx-4 my-3" src="{{ follower_prof.photo }}" height="200px" width="200px"
                         style="border-radius: 50%">
                {% else %}
                    <img class="mx-4 my-3" src="{% static 'images/images.jpeg' %}" height="200px" width="200px"
                         style="border-radius: 50%">
                {% endif %}
                <div class="mx-2 px-2">
                    <h1 class="mt-3 mx-2 px-2">{{ follower.full_name }}</h1>
                    <h4 class="mt-1 mx-2 px-2" style="color: #444444">{{ follower_prof.header }}</h4>
                    <h5 class="mt-1 mx-2 px-2" style="color: #666666">{{ follower_prof.education }}</h5>
                    <h6 class="mt-1 mx-2 px-2" style="color: #666666">
                        <a href="{{ follower_prof.git_website }}" style="color:#666666; text-decoration: underline;">
                            Website/Github
                        </a>
                    </h6>

                </div>
            </div>
            <hr width="80%" align="center"/>
            <div class="container mx-4 my-4" style="color: #666666">
                <h2 class="mb-2" style="color:#444444">Interests</h2>
                <p>
                    {{ follower_prof.interests }}
                </p>
            </div>
            <div class="container mx-4 my-4" style="color: #666666">
                <h2 class="mb-2" style="color:#444444">Works</h2>
                <p>
                    {{ follower_prof.work_exp }}

                </p>
            </div>
        </div>


    </div>
{% endblock body %}